.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
extensions/**/dist/
/out*/
/extensions/**/out/
src/vs/server
resources/server
build/node_modules
coverage/
test_data/
test-results/
yarn-error.log
vscode.lsif
vscode.db
/.profile-oss
.eslintignore
.github/workflows/rich-navigation.yml
.vscode/notebooks/inbox.github-issues
.vscode/notebooks/my-work.github-issues
.yarnrc
build/azure-pipelines/common/computeNodeModulesCacheKey.js
build/azure-pipelines/common/computeNodeModulesCacheKey.ts
build/azure-pipelines/common/installPlaywright.js
build/azure-pipelines/common/installPlaywright.ts
build/filters.js
build/npm/preinstall.js
build/package.json
build/yarn.lock
cgmanifest.json
extensions/csharp/cgmanifest.json
extensions/csharp/syntaxes/csharp.tmLanguage.json
extensions/github-authentication/package.json
extensions/image-preview/package.json
extensions/image-preview/src/preview.ts
extensions/ipynb/package.json
extensions/ipynb/src/ipynbMain.ts
extensions/markdown-basics/snippets/markdown.code-snippets
extensions/markdown-language-features/src/features/preview.ts
extensions/microsoft-authentication/package.json
extensions/python/package.json
extensions/simple-browser/package.json
extensions/simple-browser/src/simpleBrowserView.ts
extensions/typescript-language-features/cgmanifest.json
extensions/typescript-language-features/package.nls.json
extensions/typescript-language-features/src/languageFeatures/completions.ts
extensions/typescript-language-features/src/test/unit/functionCallSnippet.test.ts
extensions/vscode-api-tests/src/singlefolder-tests/languagedetection.test.ts
extensions/vscode-api-tests/src/singlefolder-tests/untitled.languagedetection.test.ts
extensions/vscode-api-tests/src/singlefolder-tests/window.test.ts
extensions/yaml/package.json
package.json
product.json
scripts/test-integration.bat
scripts/test-integration.sh
src/bootstrap-window.js
src/tsec.exemptions.json
src/vs/base/browser/dom.ts
src/vs/base/browser/dompurify/cgmanifest.json
src/vs/base/browser/dompurify/dompurify.d.ts
src/vs/base/browser/dompurify/dompurify.js
src/vs/base/browser/dompurify/dompurify.license.txt
src/vs/base/browser/formattedTextRenderer.ts
src/vs/base/browser/iframe.ts
src/vs/base/browser/markdownRenderer.ts
src/vs/base/browser/ui/iconLabel/iconLabelHover.ts
src/vs/base/browser/ui/list/listView.ts
src/vs/base/common/async.ts
src/vs/base/common/htmlContent.ts
src/vs/base/common/insane/cgmanifest.json
src/vs/base/common/insane/insane.d.ts
src/vs/base/common/insane/insane.js
src/vs/base/common/insane/insane.license.txt
src/vs/base/common/marked/cgmanifest.json
src/vs/base/common/marked/marked.js
src/vs/base/parts/quickinput/browser/quickInput.ts
src/vs/base/parts/quickinput/browser/quickInputList.ts
src/vs/base/parts/quickinput/common/quickInput.ts
src/vs/base/parts/storage/common/storage.ts
src/vs/base/parts/storage/test/node/storage.test.ts
src/vs/base/test/browser/markdownRenderer.test.ts
src/vs/base/test/parts/quickinput/browser/quickinput.test.ts
src/vs/code/browser/workbench/workbench-dev.html
src/vs/code/browser/workbench/workbench.html
src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
src/vs/code/electron-browser/workbench/workbench.html
src/vs/code/electron-main/app.ts
src/vs/code/electron-sandbox/workbench/workbench.html
src/vs/code/node/cli.ts
src/vs/code/node/cliProcessMain.ts
src/vs/editor/common/config/editorOptions.ts
src/vs/editor/common/model/textModel.ts
src/vs/editor/common/model/textModelTokens.ts
src/vs/editor/common/modes/modesRegistry.ts
src/vs/editor/common/services/modelServiceImpl.ts
src/vs/editor/contrib/inlineCompletions/inlineCompletionsModel.ts
src/vs/editor/contrib/inlineCompletions/test/inlineCompletionsProvider.test.ts
src/vs/editor/contrib/inlineCompletions/test/utils.ts
src/vs/editor/contrib/suggest/suggestController.ts
src/vs/editor/standalone/browser/standaloneServices.ts
src/vs/monaco.d.ts
src/vs/platform/accessibility/browser/accessibilityService.ts
src/vs/platform/accessibility/common/accessibility.ts
src/vs/platform/accessibility/common/accessibilityService.ts
src/vs/platform/browser/contextScopedHistoryWidget.ts
src/vs/platform/dialogs/electron-main/dialogMainService.ts
src/vs/platform/editor/common/editor.ts
src/vs/platform/extensionManagement/common/extensionGalleryService.ts
src/vs/platform/extensionManagement/common/extensionManagement.ts
src/vs/platform/extensionManagement/node/extensionDownloader.ts
src/vs/platform/extensionManagement/node/extensionManagementService.ts
src/vs/platform/extensionManagement/node/extensionsScanner.ts
src/vs/platform/files/browser/indexedDBFileSystemProvider.ts
src/vs/platform/files/node/watcher/nsfw/nsfwWatcherService.ts
src/vs/platform/files/test/browser/indexedDBFileService.test.ts
src/vs/platform/product/common/product.ts
src/vs/platform/quickinput/browser/pickerQuickAccess.ts
src/vs/platform/storage/browser/storageService.ts
src/vs/platform/storage/test/browser/storageService.test.ts
src/vs/platform/telemetry/common/telemetryUtils.ts
src/vs/platform/terminal/node/ptyService.ts
src/vs/platform/windows/electron-main/windowsMainService.ts
src/vs/vscode.d.ts
src/vs/vscode.proposed.d.ts
src/vs/workbench/api/browser/mainThreadDebugService.ts
src/vs/workbench/api/browser/mainThreadEditorTabs.ts
src/vs/workbench/api/browser/mainThreadFileSystem.ts
src/vs/workbench/api/browser/mainThreadNotebookEditors.ts
src/vs/workbench/api/browser/mainThreadTelemetry.ts
src/vs/workbench/api/browser/mainThreadWebviews.ts
src/vs/workbench/api/common/extHost.api.impl.ts
src/vs/workbench/api/common/extHost.protocol.ts
src/vs/workbench/api/common/extHostApiCommands.ts
src/vs/workbench/api/common/extHostCommands.ts
src/vs/workbench/api/common/extHostDebugService.ts
src/vs/workbench/api/common/extHostEditorTabs.ts
src/vs/workbench/api/common/extHostFileSystem.ts
src/vs/workbench/api/common/extHostLanguages.ts
src/vs/workbench/api/common/extHostQuickOpen.ts
src/vs/workbench/api/common/extHostTypeConverters.ts
src/vs/workbench/api/common/extHostTypes.ts
src/vs/workbench/api/common/extHostWebview.ts
src/vs/workbench/browser/actions/workspaceActions.ts
src/vs/workbench/browser/contextkeys.ts
src/vs/workbench/browser/dnd.ts
src/vs/workbench/browser/editor.ts
src/vs/workbench/browser/labels.ts
src/vs/workbench/browser/layout.ts
src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
src/vs/workbench/browser/parts/banner/bannerPart.ts
src/vs/workbench/browser/parts/banner/media/bannerpart.css
src/vs/workbench/browser/parts/compositeBar.ts
src/vs/workbench/browser/parts/editor/binaryDiffEditor.ts
src/vs/workbench/browser/parts/editor/breadcrumbsPicker.ts
src/vs/workbench/browser/parts/editor/editor.contribution.ts
src/vs/workbench/browser/parts/editor/editor.ts
src/vs/workbench/browser/parts/editor/editorCommands.ts
src/vs/workbench/browser/parts/editor/editorControl.ts
src/vs/workbench/browser/parts/editor/editorDropTarget.ts
src/vs/workbench/browser/parts/editor/editorGroupView.ts
src/vs/workbench/browser/parts/editor/editorPane.ts
src/vs/workbench/browser/parts/editor/editorPart.ts
src/vs/workbench/browser/parts/editor/sideBySideEditor.ts
src/vs/workbench/browser/parts/editor/textDiffEditor.ts
src/vs/workbench/browser/parts/editor/textEditor.ts
src/vs/workbench/browser/parts/panel/panelPart.ts
src/vs/workbench/browser/parts/statusbar/statusbarPart.ts
src/vs/workbench/browser/parts/titlebar/menubarControl.ts
src/vs/workbench/browser/workbench.contribution.ts
src/vs/workbench/common/editor.ts
src/vs/workbench/common/editor/diffEditorInput.ts
src/vs/workbench/common/editor/editorGroupModel.ts
src/vs/workbench/common/editor/editorInput.ts
src/vs/workbench/common/editor/resourceEditorInput.ts
src/vs/workbench/common/editor/sideBySideEditorInput.ts
src/vs/workbench/common/editor/textEditorModel.ts
src/vs/workbench/common/editor/textResourceEditorInput.ts
src/vs/workbench/common/editor/textResourceEditorModel.ts
src/vs/workbench/common/theme.ts
src/vs/workbench/contrib/codeEditor/browser/quickaccess/gotoLineQuickAccess.ts
src/vs/workbench/contrib/codeEditor/browser/quickaccess/gotoSymbolQuickAccess.ts
src/vs/workbench/contrib/codeEditor/browser/suggestEnabledInput/suggestEnabledInput.ts
src/vs/workbench/contrib/customEditor/browser/customEditorInput.ts
src/vs/workbench/contrib/customEditor/browser/customEditors.ts
src/vs/workbench/contrib/customEditor/common/contributedCustomEditors.ts
src/vs/workbench/contrib/debug/common/debugSource.ts
src/vs/workbench/contrib/extensions/browser/extensionEditor.ts
src/vs/workbench/contrib/extensions/browser/extensionRecommendationsService.ts
src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
src/vs/workbench/contrib/extensions/browser/extensionsList.ts
src/vs/workbench/contrib/extensions/browser/extensionsWorkbenchService.ts
src/vs/workbench/contrib/extensions/electron-sandbox/extensions.contribution.ts
src/vs/workbench/contrib/extensions/test/electron-browser/extensionRecommendationsService.test.ts
src/vs/workbench/contrib/extensions/test/electron-browser/extensionsActions.test.ts
src/vs/workbench/contrib/extensions/test/electron-browser/extensionsViews.test.ts
src/vs/workbench/contrib/extensions/test/electron-browser/extensionsWorkbenchService.test.ts
src/vs/workbench/contrib/files/browser/editors/binaryFileEditor.ts
src/vs/workbench/contrib/files/browser/editors/fileEditorHandler.ts
src/vs/workbench/contrib/files/browser/editors/fileEditorInput.ts
src/vs/workbench/contrib/files/browser/editors/textFileEditor.ts
src/vs/workbench/contrib/files/browser/views/openEditorsView.ts
src/vs/workbench/contrib/files/test/browser/editorAutoSave.test.ts
src/vs/workbench/contrib/files/test/browser/fileEditorInput.test.ts
src/vs/workbench/contrib/files/test/browser/textFileEditorTracker.test.ts
src/vs/workbench/contrib/interactive/browser/interactive.contribution.ts
src/vs/workbench/contrib/interactive/browser/interactiveEditor.ts
src/vs/workbench/contrib/interactive/browser/interactiveEditorInput.ts
src/vs/workbench/contrib/issue/browser/issue.web.contribution.ts
src/vs/workbench/contrib/languageStatus/browser/languageStatus.contribution.ts
src/vs/workbench/contrib/languageStatus/browser/media/languageStatus.css
src/vs/workbench/contrib/localizations/browser/localizations.contribution.ts
src/vs/workbench/contrib/markdown/browser/markdownDocumentRenderer.ts
src/vs/workbench/contrib/markdown/common/markdownDocumentRenderer.ts
src/vs/workbench/contrib/notebook/browser/contrib/cellCommands/cellCommands.ts
src/vs/workbench/contrib/notebook/browser/contrib/cellStatusBar/contributedStatusBarItemController.ts
src/vs/workbench/contrib/notebook/browser/contrib/cellStatusBar/executionStatusBarItemController.ts
src/vs/workbench/contrib/notebook/browser/contrib/cellStatusBar/notebookVisibleCellObserver.ts
src/vs/workbench/contrib/notebook/browser/contrib/clipboard/notebookClipboard.ts
src/vs/workbench/contrib/notebook/browser/contrib/codeRenderer/codeRenderer.ts
src/vs/workbench/contrib/notebook/browser/contrib/editorStatusBar/editorStatusBar.ts
src/vs/workbench/contrib/notebook/browser/contrib/find/findController.ts
src/vs/workbench/contrib/notebook/browser/contrib/find/findModel.ts
src/vs/workbench/contrib/notebook/browser/contrib/find/test/find.test.ts
src/vs/workbench/contrib/notebook/browser/contrib/fold/folding.ts
src/vs/workbench/contrib/notebook/browser/contrib/navigation/arrow.ts
src/vs/workbench/contrib/notebook/browser/contrib/outline/notebookOutline.ts
src/vs/workbench/contrib/notebook/browser/contrib/troubleshoot/layout.ts
src/vs/workbench/contrib/notebook/browser/contrib/undoRedo/notebookUndoRedo.ts
src/vs/workbench/contrib/notebook/browser/contrib/viewportCustomMarkdown/viewportCustomMarkdown.ts
src/vs/workbench/contrib/notebook/browser/controller/cellOperations.ts
src/vs/workbench/contrib/notebook/browser/controller/coreActions.ts
src/vs/workbench/contrib/notebook/browser/controller/editActions.ts
src/vs/workbench/contrib/notebook/browser/controller/executeActions.ts
src/vs/workbench/contrib/notebook/browser/controller/insertCellActions.ts
src/vs/workbench/contrib/notebook/browser/controller/layoutActions.ts
src/vs/workbench/contrib/notebook/browser/diff/notebookDiffEditorBrowser.ts
src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts
src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts
src/vs/workbench/contrib/notebook/browser/notebookDiffEditorInput.ts
src/vs/workbench/contrib/notebook/browser/notebookEditor.ts
src/vs/workbench/contrib/notebook/browser/notebookEditorToolbar.ts
src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
src/vs/workbench/contrib/notebook/browser/notebookEditorWidgetContextKeys.ts
src/vs/workbench/contrib/notebook/browser/notebookIcons.ts
src/vs/workbench/contrib/notebook/browser/notebookKernelActionViewItem.ts
src/vs/workbench/contrib/notebook/browser/view/output/outputRenderer.ts
src/vs/workbench/contrib/notebook/browser/view/output/rendererRegistry.ts
src/vs/workbench/contrib/notebook/browser/view/output/transforms/richTransform.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/cellContextKeys.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/cellDnd.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/cellEditorOptions.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/cellOutput.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/cellRenderer.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/codeCell.ts
src/vs/workbench/contrib/notebook/browser/view/renderers/markdownCell.ts
src/vs/workbench/contrib/notebook/browser/viewModel/notebookViewModel.ts
src/vs/workbench/contrib/notebook/test/cellOperations.test.ts
src/vs/workbench/contrib/notebook/test/notebookEditor.test.ts
src/vs/workbench/contrib/notebook/test/notebookViewModel.test.ts
src/vs/workbench/contrib/notebook/test/testNotebookEditor.ts
src/vs/workbench/contrib/output/browser/logViewer.ts
src/vs/workbench/contrib/output/browser/outputServices.ts
src/vs/workbench/contrib/output/browser/outputView.ts
src/vs/workbench/contrib/output/common/outputChannelModel.ts
src/vs/workbench/contrib/performance/browser/perfviewEditor.ts
src/vs/workbench/contrib/preferences/browser/keybindingsEditor.ts
src/vs/workbench/contrib/preferences/browser/preferences.contribution.ts
src/vs/workbench/contrib/preferences/browser/settingsTree.ts
src/vs/workbench/contrib/preferences/common/preferencesContribution.ts
src/vs/workbench/contrib/remote/browser/remoteExplorer.ts
src/vs/workbench/contrib/remote/browser/tunnelView.ts
src/vs/workbench/contrib/remote/common/remote.contribution.ts
src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts
src/vs/workbench/contrib/snippets/browser/insertSnippet.ts
src/vs/workbench/contrib/terminal/browser/links/terminalLinkManager.ts
src/vs/workbench/contrib/terminal/browser/links/terminalWordLinkProvider.ts
src/vs/workbench/contrib/terminal/browser/terminalActions.ts
src/vs/workbench/contrib/terminal/browser/terminalEditor.ts
src/vs/workbench/contrib/terminal/browser/terminalEditorInput.ts
src/vs/workbench/contrib/terminal/browser/terminalEditorService.ts
src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
src/vs/workbench/contrib/terminal/browser/terminalService.ts
src/vs/workbench/contrib/terminal/common/terminalStrings.ts
src/vs/workbench/contrib/testing/browser/testing.contribution.ts
src/vs/workbench/contrib/testing/browser/testingDecorations.ts
src/vs/workbench/contrib/testing/browser/testingExplorerFilter.ts
src/vs/workbench/contrib/testing/browser/testingExplorerView.ts
src/vs/workbench/contrib/testing/browser/testingOutputPeek.ts
src/vs/workbench/contrib/testing/browser/theme.ts
src/vs/workbench/contrib/testing/common/ownedTestCollection.ts
src/vs/workbench/contrib/testing/common/testCollection.ts
src/vs/workbench/contrib/testing/common/testExplorerFilterState.ts
src/vs/workbench/contrib/testing/test/common/testExplorerFilterState.test.ts
src/vs/workbench/contrib/themes/browser/themes.contribution.ts
src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts
src/vs/workbench/contrib/webview/browser/pre/main.js
src/vs/workbench/contrib/webview/browser/webview.ts
src/vs/workbench/contrib/webview/browser/webviewElement.ts
src/vs/workbench/contrib/webviewPanel/browser/webviewEditorInput.ts
src/vs/workbench/contrib/welcome/banner/browser/welcomeBanner.contribution.ts
src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts
src/vs/workbench/contrib/welcome/walkThrough/browser/editor/editorWalkThrough.ts
src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
src/vs/workbench/services/accessibility/electron-sandbox/accessibilityService.ts
src/vs/workbench/services/banner/browser/bannerService.ts
src/vs/workbench/services/dialogs/browser/abstractFileDialogService.ts
src/vs/workbench/services/dialogs/browser/fileDialogService.ts
src/vs/workbench/services/dialogs/electron-sandbox/fileDialogService.ts
src/vs/workbench/services/dialogs/test/fileDialogService.test.ts
src/vs/workbench/services/editor/browser/editorResolverService.ts
src/vs/workbench/services/editor/browser/editorService.ts
src/vs/workbench/services/editor/common/editorGroupColumn.ts
src/vs/workbench/services/editor/common/editorGroupsService.ts
src/vs/workbench/services/editor/common/editorService.ts
src/vs/workbench/services/editor/test/browser/editorGroupsService.test.ts
src/vs/workbench/services/editor/test/browser/editorResolverService.test.ts
src/vs/workbench/services/editor/test/browser/editorService.test.ts
src/vs/workbench/services/editor/test/browser/editorsObserver.test.ts
src/vs/workbench/services/extensionManagement/common/extensionManagement.ts
src/vs/workbench/services/extensionManagement/common/extensionManagementServerService.ts
src/vs/workbench/services/extensionManagement/electron-sandbox/extensionManagementServerService.ts
src/vs/workbench/services/extensionManagement/test/browser/extensionEnablementService.test.ts
src/vs/workbench/services/extensionResourceLoader/browser/extensionResourceLoaderService.ts
src/vs/workbench/services/extensions/common/extensionHostManager.ts
src/vs/workbench/services/extensions/common/extensionManifestPropertiesService.ts
src/vs/workbench/services/extensions/common/extensions.ts
src/vs/workbench/services/extensions/common/extensionsRegistry.ts
src/vs/workbench/services/extensions/node/extensionHostProcessSetup.ts
src/vs/workbench/services/extensions/test/common/extensionManifestPropertiesService.test.ts
src/vs/workbench/services/extensions/worker/extensionHostWorker.ts
src/vs/workbench/services/history/browser/history.ts
src/vs/workbench/services/history/test/browser/history.test.ts
src/vs/workbench/services/languageDetection/browser/languageDetectionSimpleWorker.ts
src/vs/workbench/services/languageStatus/common/languageStatusService.ts
src/vs/workbench/services/model/common/workbenchModelService.ts
src/vs/workbench/services/preferences/browser/preferencesService.ts
src/vs/workbench/services/preferences/common/preferencesModels.ts
src/vs/workbench/services/remote/common/remoteExplorerService.ts
src/vs/workbench/services/statusbar/browser/statusbar.ts
src/vs/workbench/services/telemetry/electron-sandbox/telemetryService.ts
src/vs/workbench/services/textfile/common/textEditorService.ts
src/vs/workbench/services/textfile/common/textFileEditorModel.ts
src/vs/workbench/services/textfile/test/browser/textEditorService.test.ts
src/vs/workbench/services/untitled/common/untitledTextEditorHandler.ts
src/vs/workbench/services/untitled/common/untitledTextEditorInput.ts
src/vs/workbench/services/untitled/common/untitledTextEditorModel.ts
src/vs/workbench/services/workingCopy/browser/workingCopyBackupTracker.ts
src/vs/workbench/services/workingCopy/common/workingCopyBackupTracker.ts
src/vs/workbench/services/workingCopy/electron-sandbox/workingCopyBackupTracker.ts
src/vs/workbench/services/workingCopy/test/browser/workingCopyBackupTracker.test.ts
src/vs/workbench/services/workingCopy/test/browser/workingCopyEditorService.test.ts
src/vs/workbench/services/workingCopy/test/electron-browser/workingCopyBackupTracker.test.ts
src/vs/workbench/test/browser/api/extHostTesting.test.ts
src/vs/workbench/test/browser/parts/editor/diffEditorInput.test.ts
src/vs/workbench/test/browser/parts/editor/editor.test.ts
src/vs/workbench/test/browser/parts/editor/editorGroupModel.test.ts
src/vs/workbench/test/browser/parts/editor/editorInput.test.ts
src/vs/workbench/test/browser/parts/editor/editorModel.test.ts
src/vs/workbench/test/browser/parts/editor/sideBySideEditorInput.test.ts
src/vs/workbench/test/browser/workbenchTestServices.ts
src/vs/workbench/workbench.common.main.ts
src/vs/workbench/workbench.web.api.ts
src/vs/workbench/workbench.web.main.ts
test/automation/src/extensions.ts
test/smoke/README.md
test/smoke/src/areas/search/search.test.ts
test/smoke/src/utils.ts
yarn.lock
